body {
    /* 水平置中 */
    justify-content: center;
    /* 垂直置中 */
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
    background-image: url("image/bg.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
}

:root {
    --neon-text-light: rgba(255, 255, 255, .25);
    --neon-text-color: #04f;
    --neon-text-stroke: #4CF1FF;
}

h1 {
    position: relative;
    z-index: 2;
    width: 100%;
    margin: 0;
    padding-bottom: 0.1em;
    color: #FEFCFF;
    font-size: 12vw;
    font-family: 'Jura', sans-serif;
    line-height: 1;
    text-shadow:
        -0.2rem -0.2rem 1rem var(--neon-text-light),
        0.2rem 0.2rem 1rem var(--neon-text-light),
        0 0 2rem var(--neon-text-color),
        0 0 4rem var(--neon-text-color),
        0 0 6rem var(--neon-text-color),
        0 0 8rem var(--neon-text-color),
        0 0 10rem var(--neon-text-color);
}

.container {
    display: flex;
    align-items: flex-start;
    /* 讓slot-machine和spinButton的頂部對齊 */
    margin: 0 auto;
    width: 100%;
}

.title {
    font-size: 24px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 30px;
}

.header {
    text-align: center;
    /* 文字置中對齊 */
    margin-bottom: 20px;
    /* 上方間距 */
}

.slot-machine {
    width: 80%;
    align-content: center;
    border-radius: 1rem;
    overflow: hidden;
    border-color: blueviolet;
    border-width: 2px;
    border-style: groove;
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: blueviolet;
    background-image: linear-gradient(to top, blue,gold, blueviolet );
    /* display: flex;
    flex-direction: column;
    align-items: center; */
}

.slot-btn {
    width: 10%;
}

.slot-btn > button {
    color: black;
}

.row {
    margin: 0 auto;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.info-row {
    margin: 0 auto;
    display: flex;
    width: 90%;
}

.displayInfo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    text-align: right;
    margin-top: 20px;
}

.info-title {
    color: white;
    font-size: 24px;
    text-align: center;
    width: 50%;
    text-shadow:
        -0.2rem -0.2rem 1rem var(--neon-text-light),
        0.2rem 0.2rem 1rem var(--neon-text-light),
        0 0 2rem var(--neon-text-color),
        0 0 4rem var(--neon-text-color),
        0 0 6rem var(--neon-text-color),
        0 0 8rem var(--neon-text-color),
        0 0 10rem var(--neon-text-color);
}

.info-display {
    text-align: center;
    border-radius: 0.7rem;
    width: 50%;
    height: 30px;
}

.coin {
    width: 40%;
}

.bet {
    width: 30%;
}

.win {
    width: 30%;
}

.slot {
    width: 17.5%;
    /* 調整格子寬度 */
    height: 80px;
    /* 調整格子高度 */
    border: 2px solid black;
    /* 調整邊框寬度 */
    margin: -1px;
    /* 調整負邊距來抵消邊框 */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    /* 調整圖示大小 */
    transition: background-color 0.3s ease;
    box-sizing: border-box;
    /* 元素寬度包含邊框和內邊距 */
    background-color: #f0f0f0;
    /* 預設背景色 */
    background-image: linear-gradient(to bottom right, gray, white);
}

button {
    width: 85%;
    font-size: 20px;
    margin-top: 30px;
    border-radius: 0.5rem;
    background-image: linear-gradient(to bottom right, blueviolet, yellow);
    margin-left: 5px;
    margin-right: 5px;
}

button:hover {
    background-image: linear-gradient(to top left, blueviolet, yellow);
}

.winning {
    animation: blink 0.5s infinite alternate;
}

.machineWinning {
    animation: borderBlink 0.1s infinite alternate;
}

@keyframes borderBlink {
    from {
        background-image: linear-gradient(to top, blueviolet, blue,gold);
    }
    to {
        background-image: linear-gradient(to top, glod, blueviolet, blue);
    }
}

@keyframes blink {
    0% {
        background-image: linear-gradient(to top left, yellow, #f2f2f2);
    }

    25% {
        background-image: linear-gradient(to top right, yellow, #f2f2f2);
    }

    50% {
        background-image: linear-gradient(to bottom right, yellow, #f2f2f2);
    }

    75% {
        background-image: linear-gradient(to bottom left, yellow, #f2f2f2);
    }

    100% {
        background-image: linear-gradient(to top left, yellow, #f2f2f2);
    }
}

@keyframes blink-border {
    from {
        border-color: yellow;
    }

    to {
        border-color: transparent;
    }
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
}

#startButton {
    background-image: linear-gradient(to bottom right, cyan, blueviolet);
    font-size: 24px;
    padding: 20px 40px;
    background-color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 10px;
}